


<div class="row">
  <div class="col-sm-6">
    <h1>Followings</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_following_path, class: 'btn btn-primary' do %>
    Add New Following
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Requester user</th>
            <th>Following user</th>
            <th>Tfalse</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @followings.each do |following| %>
        <%= content_tag :tr, id: dom_id(following), class: dom_class(following) do %>
          

                      <td><%= following.requester_user_id %></td>
                      <td><%= following.following_user_id %></td>
                      <td><%= following.tfalse %></td>
          
          
            <td><%= link_to 'Show', following %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
