

<h2>This post has <%= pluralize(@comments.count, "Comment")%> </h2>


<% @comments.each do |comment| %>


        <p><b><%= comment.user.name %></b> -  <%= comment.content %>

        
            <% if current_user == comment.user %>
            <%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>    
            <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   
            <% end %>
        </p>
<% end %>
<%= render 'comments/form' %>
