<%= form_with(model: calculate_debt, local: true) do |form| %>
  <% if calculate_debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculate_debt.errors.count, "error") %> prohibited this calculate_debt from being saved:</h2>

      <ul>
      <% calculate_debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :principle %>
    <%= form.text_field :principle, :value =>0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rate %>
    <%= form.text_field :rate, :value =>0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :monthly_payements %>
    <%= form.text_field :monthly_payements, :value =>0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :compounds_per_year %>
    <%= form.number_field :compounds_per_year, :value =>0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :number_of_year %>
    <%= form.number_field :number_of_year, :value =>0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if calculate_debt.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', calculate_debt, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if calculate_debt.persisted? %>
      <%= link_to "Cancel", calculate_debt, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", calculate_debts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
