
<%= form_with(model: calculate_debt, local: true) do |form| %>
  <% if calculate_debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculate_debt.errors.count, "error") %> prohibited this calculate_debt from being saved:</h2>

      <ul>
      <% calculate_debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
  <%= form.label :"What would you like to calculate?" %>
  <select name="select" onchange="yesnoCheck(this);" required>
    <option disabled value="" selected hidden>Please Select</option>
    <option value="Monthly Payments">Monthly Payments</option>
    <option value="Principle">Principle</option>
  </select>
</div>


<div id="ifMonthly" style="display: none;">
  <div class="form-group">
    <%= form.label :"What is the amount of the loan?" %>
    <%= form.text_field :principle,:value=>0,class: 'form-control' %>
  </div>
</div>

<div id="ifPrinciple" style="display: none;">
  <div class="form-group">
    <%= form.label :"How much do you pay per month?" %>
    <%= form.text_field :monthly_payements,:value=>0,class: 'form-control' %>
  </div>
</div>


  <div class="form-group">
    <%= form.label :"What is the interest rate of the loan?" %>
    <%= form.text_field :rate, placeholder: "0.00", class: 'form-control', required:true %>
  </div>

  <div class="field-group">
        <%= form.hidden_field :email, :value => current_user.email, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :"How often is the loan compounded?" %>
    #FIXME: add popup that explains compound on mouse-over (monthly, quarterly, etc)
    <%= form.number_field :compounds_per_year, placeholder: "12", min:1, class: 'form-control', required:true %>
  </div>

  <div class="form-group">
    <%= form.label :"In how many years would you like to pay this loan off?" %>
    <%= form.number_field :number_of_year, min:0, class: 'form-control',required:true %>
  </div>

  <div class="form-group">
    <% if calculate_debt.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', calculate_debt, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if calculate_debt.persisted? %>
      <%= link_to "Cancel", calculate_debt, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", calculate_debts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>



<script type="text/javascript">
  function yesnoCheck(that) {
      if (that.value == "Principle") {
          document.getElementById("ifPrinciple").style.display = "block";
          document.getElementById("ifMonthly").style.display = "none";

      } else if (that.value == "Monthly Payments") {
          document.getElementById("ifPrinciple").style.display = "none";
          document.getElementById("ifMonthly").style.display = "block";

      } else{
        document.getElementById("ifPrinciple").style.display = "none";
        document.getElementById("ifMonthly").style.display = "none";



      }
  }
</script>