<h1>Edit Previous Debt Quotes</h1>


<%= form_with(model: @calculate_debt, local: true) do |form| %>
    <% if @calculate_debt.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(calculate_debt.errors.count, "error") %> prohibited this calculate_debt from being saved:</h2>
  
        <ul>
        <% calculate_debt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :"What value would you like to re-calculate?" %>
      <select name="calculate_debt[select]" id= "calculate_debt_select" onchange="yesnoCheck(this);" required>
          <option disabled value="" selected hidden>Please Select</option>
          <option value=2>Monthly Payments</option>
          <option value=1 >Principle</option>
          <option value=3 >Years</option>

      </select>  
   </div>
    


     <div class="field-group">
        <%= form.hidden_field :email, :value => current_user.email, class: "form-control"%>
     </div>
  
    <div id="ifMonthly" style="display: none;">
      <div class="form-group">
        <%= form.label :"What is the amount of the loan?" %>
        <%= form.text_field :principle,:value=>@calculate_debt.principle,class: 'form-control' %>
      </div>
    </div>

    <div id="ifPrinciple" style="display: none;">
      <div class="form-group">
        <%= form.label :"How much do you pay per month?" %>
        <%= form.text_field :monthly_payements,:value=>@calculate_debt.monthly_payements,class: 'form-control' %>
      </div>
    </div>
  
    <div class="form-group">
      <%= form.label :"What is the interest rate of the loan?" %>
      <%= form.text_field :rate, :value =>@calculate_debt.rate, class: 'form-control', min:0, required:true %>
    </div>
  
  
    <div class="form-group">
      <%= form.label :"compounds_per_year (Most are compounded every month so 12, if differet please correct)" %>
      <%= form.number_field :compounds_per_year, :value =>@calculate_debt.compounds_per_year, class: 'form-control', min:0,required:true %>
    </div>
  
    <div id="ifYear" style="display: none;">
      <div class="form-group">
        <%= form.label :"In how many years would you like to pay this loan off?" %>
        <%= form.number_field :number_of_year, :value =>@calculate_debt.number_of_year, class: 'form-control', min:0,required:true %>
      </div>
    </div>
  
    <div class="form-group">
    <% if @calculate_debt.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', @calculate_debt, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
      
  
      <%= form.submit class: 'btn btn-primary' %>
  
      <% if @calculate_debt.persisted? %>
        <%= link_to "Cancel", @calculate_debt, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", calculate_debts_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
  
  <script type="text/javascript">
  function yesnoCheck(that) {
      if (that.value == 1) {
          document.getElementById("ifPrinciple").style.display = "block";
          document.getElementById("ifMonthly").style.display = "none";
          document.getElementById("ifYear").style.display = "block";


      } else if (that.value == 2) {
          document.getElementById("ifPrinciple").style.display = "none";
          document.getElementById("ifMonthly").style.display = "block";
          document.getElementById("ifYear").style.display = "block";

      } else if (that.value == 3) {
          document.getElementById("ifPrinciple").style.display = "block";
          document.getElementById("ifMonthly").style.display = "block";
          document.getElementById("ifYear").style.display = "none";

      } else{
        document.getElementById("ifPrinciple").style.display = "none";
        document.getElementById("ifMonthly").style.display = "none";
        document.getElementById("ifYear").style.display = "none";
      }
  }
</script>