<div class="page-header">
  <%= link_to calculate_debts_path, class: 'btn btn-default' do %>
    Debt Calculator
  <% end %>
  <%= link_to edit_calculate_debt_path(@calculate_debt), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <br>
  <hr>

  <h1> Debt Calculator</h1>
</div>
<hr>

<dl class="dl-horizontal">
  <dt>Principle:</dt>
  <dd><%=  number_to_currency(@calculate_debt.principle) %></dd>

  <dt>Rate:</dt>
  <dd><%= number_to_percentage(@calculate_debt.rate) %></dd>

  <dt>Monthly payements:</dt>
  <dd><%=  number_to_currency(@calculate_debt.monthly_payements) %></dd>

  <dt>Compounds per year:</dt>
  <dd><%= @calculate_debt.compounds_per_year %></dd>

  <dt>Number of year:</dt>
  <dd><%= @calculate_debt.number_of_year %></dd>

  <dt>Interest Paid:</dt>
  <dd><%=  number_to_currency((@calculate_debt.number_of_year*12*@calculate_debt.monthly_payements)-@calculate_debt.principle) %></dd>

  <dt>Total Paid:</dt>
  <dd><%=  number_to_currency((@calculate_debt.number_of_year*12*@calculate_debt.monthly_payements)) %></dd>

  <dt>Email :</dt>
  <dd><%=  @calculate_debt.email %></dd>
</dl>