<%= stylesheet_link_tag "hideme"%>

<!--- Button to hide left navbar -->
<button onclick="myFunction()" class=" btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" style="vertical-align:middle"><span><i class="fas fa-list-ul"></i><small class="text-uppercase font-weight-bold"> Nav-bar Toggle</small></span></button>


<div class="row">
  <div class="col-sm-6">
    <h1>Budgets</h1>
  </div>
  
  <!--- Button to create a new budget -->
  <div class="col-sm-6 text-right">
  <%= link_to new_budget_path, class: 'btn btn-primary' do %>
    Add New Budget
  <% end %>
  </div>
</div>

<!--- Table showing all budges owned by current user -->
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Month</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
        <%= content_tag :tr, id: dom_id(budget), class: dom_class(budget) do %>
          

                      <td><%= budget.month %> <%= budget.year %></td>
          
          
            <td><%= link_to 'View', budget %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
