<%= stylesheet_link_tag "budgets" %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="card gedf-card; col-md-12">
      <div class="navigation; wrap">
        <div class="left"><%= link_to @budget.previous, class: 'btn btn-info btn-block' do %>Previous<% end %></div>
        <div class="center">
          <h3 style="text-align:center;float:center"><%= @budget.month %> <%= @budget.year %> </h3>
        </div>
        <div class="right"><%= link_to @budget.next, class: 'btn btn-info btn-block' do %>Next<% end %></div>

      </div>

      <br>

      <div class="card-body">
        <div class="table-responsive">
          <% @budget.groups.each do |group| %>

          <table class="table table-hover; width: 100%">
            <colgroup>
              <col span="1" style="width: 50%;">
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 20%;">
              
            </colgroup>
            <tr style="border-bottom: 3px solid #17A2B8; border-top: 0px; font-weight:bold; color: rgb(71, 73, 73);">
              <td>
                <%= group.name %>
                |
                <%= link_to edit_budget_group_path(@budget, group) do %>edit<% end %>
                |
                <%= link_to 'delete', [@budget, group], method: :delete, class: "text-danger", data: { confirm: 'Are you sure? This will delete the group and its categories.' } %>
              </td>
              <td>Projected</td>
              <td>Actual</td>
              <td style="color:#026877">
                <% if ((group.categories_sum * 100 )/(group.average) - 100) > 1 %>
                  <%= number_with_precision(((group.categories_sum * 100 )/(group.average) - 100), :precision => 0) %>% above average

                <% elsif (100 - (group.categories_sum * 100 )/(group.average)) < -1 %>
                  <%= number_with_precision((100 - (group.categories_sum * 100 )/(group.average)), :precision => 0) %>% below average
                  
                <% else %>
                  At average
                <% end %>
                
              </td>
            </tr>

            <tbody>
              <% group.categories.each do |category| %>
              <tr style="border-bottom: 3px solid darkgrey;">
                <td>
                  <%= category.name %>
                  |
                  <%= link_to budget_path do %>edit<% end %>
                  |
                  <%= link_to 'delete', [@budget, group, category], method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= category.projected %></td>
                <td><%= category.actual %></td>
              </tr>
              <% end %>
              <td colspan="3"><%= link_to new_budget_group_category_path(@budget, group, @category) do%>+ Add
                Category<% end %></td>
              
            </tbody>
          </table>
          <% end %>

        </div>
        <div>
          <%= link_to new_budget_group_path(@budget, @group) do %>
          + ADD GROUP
          <% end %>
        </div>
      </div>
    </div>

    <div class="card gedf-card; col-md-6">
      <div class="card-header">
        <h3 style="text-align:center">Spending</h3>
      </div>
      <div class="card-body>">
        <%= pie_chart Group.group(:name).count %>
      </div>
      <div>
        <table class="table table-hover; width: 100%">
          <colgroup>
            <col span="1" style="width: 55%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 25%;">

          </colgroup>
          <% @budget.groups.each do |group| %>
          <tr style="border-bottom: 3px solid darkgrey">
            <td><%= group.name %></td>
            <% group.categories.each do |category| %>

            <% end %>
            <td>(25%)</td>
            <td>$200.46</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>