<div class="page-header">
  <%= link_to budgets_path, class: 'btn btn-primary' do %>
    All Budgets
  <% end %>
  <%= link_to edit_budget_path(@budget), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @budget.month %> <%= @budget.year %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th>Income</th>  
          <th>Planned</th>
          <th>Received</th>
        
      </tr>
    </thead>

    <tbody>
      <% @budget.categories.each do |category| %>
        <% if category.income == TRUE %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.projected %></td>
            <td><%= category.actual %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th>Expense Categories</th>  
          <th>Planned</th>
          <th>Spent</th>
        
      </tr>
    </thead>

    <tbody>
      <% @budget.categories.each do |category| %>
        <%if category.income != TRUE %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.projected %></td>
            <td><%= category.actual %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
