<div class="page-header">
  <%= link_to budgets_path, class: 'btn btn-primary' do %>
    All Budgets
  <% end %>
  <%= link_to edit_budget_path(@budget), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @budget.month %> <%= @budget.year %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">

    <% @budget.groups.each do |group| %>
      <tr style="font-weight:bold; background-color: #59A7AE;">
        <td ><%= group.name %></td>
          <td>Projected</td>
          <td >Actual</td>
      </tr>
      <tbody>  
        <% group.categories.each do |category| %>  
          <tr style="background-color: #E7E5E5">  
            <td><%= category.name %></td>
            <td><%= category.projected %></td>
            <td><%= category.actual %></td>
          </tr>
        <% end %>
      </tbody>
      <td><%= link_to budgets_path do %>Add Category<% end %></td>
    <% end %>
  </table>
</div>

<div>
  <%= link_to new_budget_group_path(@budget) do %>
    + ADD GROUP
  <% end %>
</div>
<div>
  <%= link_to budget_groups_path(@budget) do %>
    EDIT GROUPS
  <% end %>
</div>

<br>

<div>
  <%= pie_chart Group.group(:name).count %>
</div>
