<div class="page-header">
  <%= link_to budgets_path, class: 'btn btn-primary' do %>
    All Budgets
  <% end %>
  <%= link_to edit_budget_path(@budget), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @budget.month %> <%= @budget.year %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    #FIXME: need to find correct route to edit specific group
    <% @budget.groups.each do |group| %>
      <tr style="font-weight:bold; background-color: #59A7AE;">
        <td >
          <%= group.name %>
           | 
          <%= link_to edit_budget_group_path(@budget, group) do %>Edit<% end %>
           | 
          <%= link_to 'Delete', [@budget, group], method: :delete, class: "text-danger", data: { confirm: 'Are you sure? This will delete the group and its categories.' } %>
        </td>
        <td>Projected</td>
        <td >Actual</td>
      </tr>
      #FIXME: paste contents of index2 here once categories are worked back in
      <td><%= link_to budgets_path do %>Add Category<% end %></td>
    <% end %>
  </table>
</div>

<div>
  <%= link_to new_budget_group_path(@budget) do %>
    + ADD GROUP
  <% end %>
</div>

<br>

<div>
  <%= pie_chart Group.group(:name).count %>
</div>
