<div class="page-header">
  <%= link_to budgets_path, class: 'btn btn-primary' do %>
    All Budgets
  <% end %>
  <%= link_to edit_budget_path(@budget), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @budget.month %> <%= @budget.year %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th>Category</th>  
          <th>Actual</th>
          <th>Projected</th>
        
      </tr>
    </thead>

    <tbody>
      <% @budget.categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.actual %></td>
          <td><%= category.projected %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
