<%= form_with(model: [@budget, group], local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :"Please select a name for this group:" %>
    <%= form.select(:name, options_for_select([ ['Auto & Transportation'], ['Bills'], ['Business Services'], ['Children'], ['Clothing'], ['Debt'], ['Education'], ['Entertainment'], ['Expenses'], ['Fees & Charges'], ['Food & Dining'], ['Gifts & Donations'], ['Household Items/Supplies'], ['Housing'], ['Income'], ['Insurance'], ['Medical & Healthcare'], ['Miscellaneous'], ['Personal'], ['Personal Care'], ['Personal Development'], ['Pets'], ['Recreation & Fun'], ['Retirement'], ['Savings'], ['Shopping'], ['Taxes'], ['Travel'], ['Utilities'], ['Work'] ]),{ :prompt => "Select one"}, :required => true)%>
  </div>
  
  <div class="form-group">
    <% if group.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', [@budget, group], method: :delete, class: "text-danger", data: { confirm: 'Are you sure? This will delete the group and its categories.' } %>
      </div>
    <% end %>

    
    <%= form.submit class: 'btn btn-primary' %>

    <% if group.persisted? %>
      <%= link_to "Cancel", @budget, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", @budget, class: "btn btn-link" %>
    <% end %>

  </div>
<% end %>
