


<div class="row">
  <div class="col-sm-6">
    <h1>Groups</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_budget_group_path, class: 'btn btn-primary' do %>
    Add New Group
  <% end %>
  <%= link_to [@budget], class: 'btn btn-primary' do %>
    Back to budget
  <% end %>
  
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <%= content_tag :tr, id: dom_id(group), class: dom_class(group) do %>
          

            <td><%= group.name %></td>
            <td><%= link_to 'Edit Group', edit_budget_group_path(@budget, group) %></td>
            <td><%= link_to 'Destroy Group', [@budget, group], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
