
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "userpop" %>
    
    <section class="our-webcoderskull padding-lg">
      <div class="container">
        <ul class="row">
        <% @users.each do |user| %>
          <li class="col-12 col-md-6 col-lg-3">
              <div class="cnt-block equal-hight" style="height: 349px;">
              <% if user.avatar.attached?%>
                <div class="avatar">
                    <%= image_tag(user.avatar, class: 'img-circular') %>
                </div>
              <% else %>
              <div class="avatar">
                <%= image_tag("No_user.jpg", class: 'img-circular') %>
                </div>
              <%end%>

                <h3><%=user.first_name%> <%=user.last_name %></h3>
                <p><%= (user.email) %></p>
                <ul class="follow-us clearfix">
                <% if Follow.where(:requestor => user.id, :following =>current_user.id).present? && Follow.where(:requestor => current_user.id, :following =>user.id).present?%> 
                  <h7><mark>Follow Each Other</mark></h7>
                  <% elsif Follow.where(:requestor => user.id, :following =>current_user.id).present? %>
                  <h7><mark>Follows You</mark></h7>
                <%end %>
                  <%= user.name %> | <%= link_to 'send a message', new_personal_message_path(receiver_id: user) %>
                </ul>
               <h3> <%= link_to 'View Profile', user %> </h3>
              </div>
          </li>
          <% end %>
      
        </ul>
      </div>
    </section>
