<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
           



    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <% if @user.avatar.attached?%>
                            <div class="avatar">
                                <img class="rounded-circle" width="150" height="150" <%=image_tag(@user.avatar)%>
                            </div>
                        <% else %>
                            <img class="rounded-circle" width="150" height="150" <%=image_tag("No_user.jpg")%>
                        <%end%>
                        <div class="h5"><%=@user.first_name%> <%=@user.last_name %></div>
                        <% if Follow.where(:requestor => @user.id, :following =>current_user.id).present?%> 
                            <h7><mark>Follows You</mark></h7>
                        <%end %>
                        <div class="h7 text-muted"><%= @user.email %></div>
                        <div class="h7">
                        <br>
                            <% if @user.id != current_user.id %>
                                <% if Follow.where(:requestor => current_user.id, :following =>@user.id).present? %>    
                                    <% found = Follow.where(:requestor => current_user.id, :following =>@user.id).pluck(:id) %>
                                    <%= button_to 'Unfollow', follow_url(found), method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                                <% else %>
                                    <%= button_to "Follow", {:controller => 'follows', :action => 'create', :requestor => current_user.id, :following => @user.id}, {:method => :post} %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5"><%= Follow.where(:following => @user.id).count %></div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5"><%= Follow.where(:requestor => @user.id).count %></div>
                    </ul>
                </div>
                <br>
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Budget will go here</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Place Holder.</p>
                            <a href="#" class="card-link">Budget View</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-6 gedf-main">
                <br>
                <!-- If No Post /////-->
                <% if Post.count == 0 %>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>

                        </div>
                        <div class="card-body">
                            <h3 class="card-text">This user has no post yet.</h3>
                        </div>
                        <div class="card-footer" >
                                
                        </div>
                    </div>                
                <% end %>

                <% @posts.each do |post| %>
                    <!--- \\\\\\\ Post with no attachments ////// -->
                    <% if post.attachtype == 0 || post.attachtype.nil? %>
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
        <!-- BUD-21-->
                                            <% if @user.avatar.attached?%>
                                                <img class="rounded-circle" height="45" width="45" <%=image_tag(@user.avatar)%>
                                            <% else %>
                                                <img class="rounded-circle" height="45" width="45" <%=image_tag("No_user.jpg")%>
        <!-- end BUD-21-->
                                            <% end  %>
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><%= post.try(:user).try(:first_name) %> <%= post.try(:user).try(:last_name) %></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Configuration</div>
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Hide</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <%= post.content %>
                                </p>
                            </div>
                            <div class="card-footer" >


                        <!-- Button to like a post -->
                            <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                            <% has_like =  post.likes.count %>

                            <% if pre_like %>
                                <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                            <% elsif has_like != 0  %>
                                <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% else %>
                                <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% end %>


                        <!-- 
                        Removed this becasue I redid the button without the hyperlink anchor

                            <a href="#" class="card-link"><i class="fa fa-gittip"></i>
                                <% if post.likes.count == 0 %>
                                Like
                                <% else %>
                                    <%= post.likes.count %>
                                <% end %>
                            </a>
                        -->


                                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                <div style="display: flex; justify-content: flex-end">
                                    <class="text-muted h7 mb-2"> <i class="fa fa-clock-o "> </i><%= time_ago_in_words(post.created_at) %>
                                </div>
                                

                            </div>
                        </div>
                
                        <br>
                    <!--- \\\\\\\ Post with Goal attached ////// -->
                    <% elsif post.attachtype == 1 && post.attachid.present? %>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <% if post.user.avatar.attached?%>
                                            <img class="rounded-circle" height= "45" width="45" <%=image_tag(post.user.avatar)%>
                                        <% else %>
                                            <img class="rounded-circle" height= "45" width="45" <%=image_tag("No_user.jpg")%>
                                        <% end  %>
                                    </div>
                                    <%=link_to  user_path(post.user), :action => 'go' do %>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><%= post.try(:user).try(:first_name) %> <%= post.try(:user).try(:last_name) %></div>
                                        </div>
                                    <% end %>
                                </div>
                                <div>
                                
                                    <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Configuration</div>
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Hide</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">

                                <p class="card-text">
                                    <dd><%= post.content %></dd>
                                </p>
                                <hr>

                                <h5 class="card-title">Goal: <%= Goal.select(:title).find(post.attachid).title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                <%= number_to_currency(Goal.select(:progress).find(post.attachid).progress)%><%= "/" %><%=  number_to_currency(Goal.select(:goal).find(post.attachid).goal) %>                   
                                </h6>
                                <% if  Goal.select(:progress).find(post.attachid).progress < Goal.select(:goal).find(post.attachid).goal %>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=<% Goal.select(:ppercent).find(post.attachid).ppercent %> aria-valuemin="0" aria-valuemax="100" style="width: <%=Goal.select(:ppercent).find(post.attachid).ppercent %>%">
                                            <%= number_to_percentage(Goal.select(:ppercent).find(post.attachid).ppercent, precision: 0) %> </div>
                                    </div>
                                <% else %>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow=<% Goal.select(:ppercent).find(post.attachid).ppercent %> aria-valuemin="0" aria-valuemax= "100" style="width: <%=Goal.select(:ppercent).find(post.attachid).ppercent %>%">
                                            <%= number_to_percentage(Goal.select(:ppercent).find(post.attachid).ppercent, precision: 0) %> </div>
                                    </div>
                                <% end %>
                                <br>
                                <%= link_to (image_tag ("info.png"), size:40 ), goal_path(id: post.attachid) %>
                                <% if @post.user_id == current_user.id %>
                                    <%= link_to (image_tag ("plus.png"), size:40 ), edit_goal_path(id: post.attachid) %>
                                <% end %>


                                
                            </div>
                            <div class="card-footer" >
                            <!-- Button to like a post -->
                            <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                            <% has_like =  post.likes.count %>

                            <% if pre_like %>
                                <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                            <% elsif has_like != 0  %>
                                <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% else %>
                                <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% end %>


                        <!-- 
                        Removed this becasue I redid the button without the hyperlink anchor
                            <a href="#" class="card-link"><i class="fa fa-gittip"></i>
                                <% if post.likes.count == 0 %>
                                Like
                                <% else %>
                                    <%= post.likes.count %>
                                <% end %>
                            </a>
                        -->

                                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                <div style="display: flex; justify-content: flex-end">
                                    <class="text-muted h7 mb-2"> <i class="fa fa-clock-o "> </i><%= time_ago_in_words(post.created_at) %>
                                </div>
                            </div>
                        </div>
                        
                        <br>
                    <!--- \\\\\\\ Post with Budget attached //////-->
                    <% elsif post.attachtype == 2 && post.attachid.present? %>
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
        <!-- BUD-21-->
                                            <% if @user.avatar.attached?%>
                                                <img class="rounded-circle" height="45" width="45" <%=image_tag(@user.avatar)%>
                                            <% else %>
                                                <img class="rounded-circle" height="45" width="45" <%=image_tag("No_user.jpg")%>
        <!-- end BUD-21-->
                                            <% end  %>
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><%= post.try(:user).try(:first_name) %> <%= post.try(:user).try(:last_name) %></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Configuration</div>
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Hide</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                    <p class="card-text">
                                        <dd><%= post.content %></dd>
                                    </p>
                                    <hr>

                                    <h5 class="card-title">Budget: <%= Budget.select(:month).find(post.attachid).month %> <%= Budget.select(:year).find(post.attachid).year %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                            <div class="table-responsive">
                                                <% Budget.find(post.attachid).groups.each do |group| %>
                                                <table class="table table-hover; width: 100%">
                                                    <colgroup>
                                                        <col span="1" style="width: 50%;">
                                                        <col span="1" style="width: 15%;">
                                                        <col span="1" style="width: 15%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr
                                                            style="border-bottom: 3px solid #17A2B8; border-top: 0px; font-weight:bold; color: rgb(71, 73, 73);">
                                                            <td><%= group.name %></td>
                                                            <td>Projected</td>
                                                            <td>Actual</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% group.categories.each do |category| %>
                                                        <tr style="border-bottom: 3px solid darkgrey;">
                                                            <td><%= category.name %></td>
                                                            <td><%= number_to_currency(category.projected) %></td>
                                                            <td><%= number_to_currency(category.actual) %></td>
                                                        </tr>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                                <% end %>
                                            </div>
                                    </h6>
                            </div>
                            <div class="card-footer">
                                <!-- Button to like a post -->
                                <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                                <% has_like =  post.likes.count %>

                                <% if pre_like %>
                                <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                                <% elsif has_like != 0  %>
                                <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% else %>
                                <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% end %>

                                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                <div style="display: flex; justify-content: flex-end">
                                    <class="text-muted h7 mb-2"> <i class="fa fa-clock-o ">
                                        </i><%= time_ago_in_words(post.created_at) %>
                                </div>


                            </div>
                        </div>

                        <br>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-3">
                <% @goals.each do |goal| %>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Goal: <%= goal.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                        <%= number_to_currency(goal.progress)%><%= "/" %><%=  number_to_currency(goal.goal) %>                   
                        </h6>
                        <% if goal.progress < goal.goal %>
                            <div class="progress">
                                <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow=<% goal.ppercent %> aria-valuemin="0" aria-valuemax="100" style="width: <%=goal.ppercent %>%">
                                    <%= number_to_percentage(goal.ppercent, precision: 0) %> </div>
                            </div>
                        <% else %>
                            <div class="progress">
                                <div class="progress-bar progress-bar-animated bg-success" role="progressbar" aria-valuenow=<% goal.ppercent %> aria-valuemin="0" aria-valuemax= "100" style="width: <%=goal.ppercent %>%">
                                    <%= number_to_percentage(goal.ppercent, precision: 0) %> </div>
                            </div>
                        
                        
                        <% end %>


                        <p class="card-text"></p>
                        <%= link_to (image_tag ("info.png") ), goal %>
                        <% if @user.id == current_user.id %>
                            <%= link_to (image_tag ("plus.png") ), edit_goal_path(id: goal.id) %>
                        <% end %>
                    </div>
                </div>
                <br>
                <% end %>

                
            </div>
        </div>
    </div>
    <hr>
    <br>
    <br>
<hr>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<div>
<p>
</p>
</div>