       <div>
                <!--- \\\\\\\Post-->
                <% @posts.each do |post| %>
                <% if post.attachtype == 0 || post.attachtype.nil? %>

                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <% if post.user.avatar.attached?%>
                                    <img class="rounded-circle" height="45" width="45" <%=image_tag(post.user.avatar)%>
                                        <% else %> <img class="rounded-circle" height="45" width="45"
                                        <%=image_tag("No_user.jpg")%> <% end  %> </div>
                                    <%=link_to  user_path(post.user), :action => 'go' do %>
                                    <div class="ml-2">
                                        <div class="h5 m-0"><%= post.try(:user).try(:first_name) %>
                                            <%= post.try(:user).try(:last_name) %></div>
                                        
                                    </div>
                                    <% end  %>

                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                            <div class="h6 dropdown-header">Configuration</div>
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Hide</a>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">

                            <p class="card-text">
                                <dd><%= post.content %></dd>
                            </p>
                        </div>
                        <div class="card-footer">
                            <!-- Button to like a post -->
                            <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                            <% has_like =  post.likes.count %>

                            <% if pre_like %>
                            <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                            <% elsif has_like != 0  %>
                            <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% else %>
                            <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                            <% end %>


                            <!-- Button to comment on a post -->
                            <% has_comment = post.comments.count %>           
                            <% if has_comment != 0 %>
                                <%= link_to post.comments.count, post_path(post), class: "card-link", class: "fa fa-comment"%>
                            <% else %>
                                <%= link_to 'Comment', post_path(post),  class: "card-link", class: "fa fa-comment"%>        
                            <% end %>

                            
                            <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                            <div style="display: flex; justify-content: flex-end">
                                <class="text-muted h7 mb-2"> <i class="fa fa-clock-o ">
                                    </i><%= time_ago_in_words(post.created_at) %>
                            </div>


                        </div>

                        <!-- Comments //// -->
                        <!-- Will show the last 3 post and link to the show -->
                        <% if post.comments.count > 3  %>
                            <div class="card-body">
                                <div class="row">
                                    <p style = "font-size:3em; margin-top: -55px; margin-bottom: -5px;"><%= link_to "...", post_path(post), class: "card-link"%></p>
                                </div> 

                                <% post.comments.last(3).each do |comment| %>
                                    <div class= "row">
                                                <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                    <div class="ml-2">
                                                        <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                    </div>
                                                <% end  %>  -  <%= comment.content %>

                                            
                                            



                                            
                                            
                                                <% if current_user == comment.user %>
                                                <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                    <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                <% end %>

                                    </div>
                                <% end %>

                                
                            </div>
                        

                            <!-- this will only display if there has already been a comment made -->
                        <% elsif has_comment != 0 %>
                                <div class="card-body">
                                    
                                    <% post.comments.each do |comment| %>

                                    

                                            <div class= "row">
                                                <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                    <div class="ml-0">
                                                        <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                    </div>
                                                <% end  %>  -  <%= comment.content %>

                                            
                                            



                                            
                                            
                                                <% if current_user == comment.user %>
                                                <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                    <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                <% end %>
                                                
                                            </div>
                                        
                                
                                    <% end %>
                                </div>

                        <% else %>
                            <!-- Nothing here because there should be no new part of the container -->
                        <% end %>
                        <!-- End Comments /// -->      
                

                    </div>
                    <!-- Post /////-->
                    <br>
                    <% elsif post.attachtype == 1 && (post.goalid.present? && post.goalid != 0) %>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <% if post.user.avatar.attached?%>
                                        <img class="rounded-circle" height="45" width="45" <%=image_tag(post.user.avatar)%>
                                            <% else %> <img class="rounded-circle" height="45" width="45"
                                            <%=image_tag("No_user.jpg")%> <% end  %> </div>
                                        <%=link_to  user_path(post.user), :action => 'go' do %>
                                        <div class="ml-2">
                                            <div class="h5 m-0"><%= post.try(:user).try(:first_name) %>
                                                <%= post.try(:user).try(:last_name) %></div>
                                            </div>
                                        <% end %>

                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Configuration</div>
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Hide</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">

                                <p class="card-text">
                                    <dd><%= post.content %></dd>
                                </p>
                                <hr>

                                <h5 class="card-title">Goal: <%= Goal.select(:title).find(post.goalid).title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= number_to_currency(Goal.select(:progress).find(post.goalid).progress)%><%= "/" %><%=  number_to_currency(Goal.select(:goal).find(post.goalid).goal) %>
                                </h6>
                                <% if  Goal.select(:progress).find(post.goalid).progress < Goal.select(:goal).find(post.goalid).goal %>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        aria-valuenow=<% Goal.select(:ppercent).find(post.goalid).ppercent %>

                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width: <%=Goal.select(:ppercent).find(post.goalid).ppercent %>%">
                                        <%= number_to_percentage(Goal.select(:ppercent).find(post.goalid).ppercent, precision: 0) %>
                                    </div>
                                </div>
                                <% else %>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated bg-success"
                                        role="progressbar"
                                        aria-valuenow=<% Goal.select(:ppercent).find(post.goalid).ppercent %>
                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width: <%=Goal.select(:ppercent).find(post.goalid).ppercent %>%">
                                        <%= number_to_percentage(Goal.select(:ppercent).find(post.goalid).ppercent, precision: 0) %>
                                    </div>
                                </div>
                                <% end %>
                                <br>
                                <%= link_to (image_tag ("info.png"), size:40 ), goal_path(id: post.goalid) %>
                                <% if @post.user_id == current_user.id %>
                                <%= link_to (image_tag ("plus.png"), size:40 ), edit_goal_path(id: post.goalid) %>
                                <% end %>



                            </div>
                            <div class="card-footer">
                                <!-- Button to like a post -->
                                <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                                <% has_like =  post.likes.count %>

                                <% if pre_like %>
                                <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                                <% elsif has_like != 0  %>
                                <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% else %>
                                <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% end %>


                                
                                <!-- Button to comment on a post -->
                                <% has_comment = post.comments.count %>           
                                <% if has_comment != 0 %>
                                    <%= link_to post.comments.count, post_path(post), class: "card-link", class: "fa fa-comment"%>
                                <% else %>
                                    <%= link_to 'Comment', post_path(post),  class: "card-link", class: "fa fa-comment"%>        
                                <% end %>

                            
                                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                <div style="display: flex; justify-content: flex-end">
                                    <class="text-muted h7 mb-2"> <i class="fa fa-clock-o ">
                                        </i><%= time_ago_in_words(post.created_at) %>
                                </div>


                            </div>

                            <!-- Comments //// -->
                            <!-- Will show the last 3 post and link to the show -->
                            <% if post.comments.count > 3  %>
                                <div class="card-body">
                                    <div class="row">
                                        <p style = "font-size:3em; margin-top: -55px; margin-bottom: -5px;"><%= link_to "...", post_path(post), class: "card-link"%></p>
                                    </div> 

                                    <% post.comments.last(3).each do |comment| %>
                                        <div class= "row">
                                                    <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                        <div class="ml-2">
                                                            <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                        </div>
                                                    <% end  %>  -  <%= comment.content %>

                                                
                                                



                                                
                                                
                                                    <% if current_user == comment.user %>
                                                    <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                        <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                    <% end %>

                                        </div>
                                    <% end %>

                                    
                                </div>
                            

                                <!-- this will only display if there has already been a comment made -->
                            <% elsif has_comment != 0 %>
                                    <div class="card-body">
                                        
                                        <% post.comments.each do |comment| %>

                                        

                                                <div class= "row">
                                                    <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                        <div class="ml-0">
                                                            <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                        </div>
                                                    <% end  %>  -  <%= comment.content %>

                                                
                                                



                                                
                                                
                                                    <% if current_user == comment.user %>
                                                    <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                        <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                    <% end %>
                                                    
                                                </div>
                                            
                                    
                                        <% end %>
                                    </div>

                            <% else %>
                                <!-- Nothing here because there should be no new part of the container -->
                            <% end %>
                            <!-- End Comments /// -->      
                    


                        </div>
                        <!-- Post /////-->
                        <br>

                        <!-- Post /////-->
                        <br>
                        <% elsif post.attachtype == 2 && (post.budgetid.present? && post.budgetid != 0) %>
                        <div class="card gedf-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <% if post.user.avatar.attached?%>
                                                <img class="rounded-circle" height="45" width="45"
                                                    <%=image_tag(post.user.avatar)%> 
                                                <% else %> <img class="rounded-circle"
                                                    height="45" width="45" <%=image_tag("No_user.jpg")%> 
                                                <% end  %> 
                                                </div>
                                                <%=link_to  user_path(post.user), :action => 'go' do %>
                                                <div class="ml-2">
                                                    <div class="h5 m-0"><%= post.try(:user).try(:first_name) %>
                                                        <%= post.try(:user).try(:last_name) %></div>
                                                    <div class="h7 text-muted"><%= post.try(:user).try(:email) %></div>
                                                </div>

                                            <% end %>

                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                    <div class="h6 dropdown-header">Configuration</div>
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Hide</a>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">

                                    <p class="card-text">
                                        <dd><%= post.content %></dd>
                                    </p>
                                    <hr>

                                    <h5 class="card-title">Budget: <%= Budget.select(:month).find(post.budgetid).month %> <%= Budget.select(:year).find(post.budgetid).year %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                            <div class="table-responsive">
                                                <% Budget.find(post.budgetid).groups.each do |group| %>
                                                <table class="table table-hover; width: 100%">
                                                    <colgroup>
                                                        <col span="1" style="width: 50%;">
                                                        <col span="1" style="width: 15%;">
                                                        <col span="1" style="width: 15%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr
                                                            style="border-bottom: 3px solid #17A2B8; border-top: 0px; font-weight:bold; color: rgb(71, 73, 73);">
                                                            <td><%= group.name %></td>
                                                            <td>Projected</td>
                                                            <td>Actual</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% group.categories.each do |category| %>
                                                        <tr style="border-bottom: 3px solid darkgrey;">
                                                            <td><%= category.name %></td>
                                                            <td><%= category.projected %></td>
                                                            <td><%= category.actual %></td>
                                                        </tr>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                                <% end %>
                                            </div>
                                    </h6>

                                </div>
                            <div class="card-footer">
                                <!-- Button to like a post -->
                                <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                                <% has_like =  post.likes.count %>

                                <% if pre_like %>
                                    <%= link_to post.likes.count, post_like_path(post, pre_like), method: :delete, class: "card-link", class: "fa fa-gittip" %>
                                <% elsif has_like != 0  %>
                                    <%= link_to post.likes.count, post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% else %>
                                    <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-link", class: "fa fa-gittip"%>
                                <% end %>
                                


                                <!-- Button to comment on a post -->
                                <% has_comment = post.comments.count %>           
                                <% if has_comment != 0 %>
                                    <%= link_to post.comments.count, post_path(post), class: "card-link", class: "fa fa-comment"%>
                                <% else %>
                                    <%= link_to 'Comment', post_path(post),  class: "card-link", class: "fa fa-comment"%>        
                                <% end %>

                                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                <div style="display: flex; justify-content: flex-end">
                                    <class="text-muted h7 mb-2"> <i class="fa fa-clock-o ">
                                        </i><%= time_ago_in_words(post.created_at) %>
                                </div>


                            </div>

                            <!-- Comments //// -->
                            <!-- Will show the last 3 post and link to the show -->
                            <% if post.comments.count > 3  %>
                                <div class="card-body">
                                    <div class="row">
                                        <p style = "font-size:3em; margin-top: -55px; margin-bottom: -5px;"><%= link_to "...", post_path(post), class: "card-link"%></p>
                                    </div> 

                                    <% post.comments.last(3).each do |comment| %>
                                        <div class= "row">
                                                    <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                        <div class="ml-2">
                                                            <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                        </div>
                                                    <% end  %>  -  <%= comment.content %>

                                                
                                                



                                                
                                                
                                                    <% if current_user == comment.user %>
                                                    <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                        <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                    <% end %>

                                        </div>
                                    <% end %>

                                    
                                </div>
                            

                                <!-- this will only display if there has already been a comment made -->
                            <% elsif has_comment != 0 %>
                                    <div class="card-body">
                                        
                                        <% post.comments.each do |comment| %>

                                        

                                                <div class= "row">
                                                    <%=link_to  user_path(comment.user), :action => 'go' do %>
                                                        <div class="ml-0">
                                                            <div class="h9 m-0"><%= comment.try(:user).try(:first_name) %> <%= comment.try(:user).try(:last_name) %></div>
                                                        </div>
                                                    <% end  %>  -  <%= comment.content %>

                                                
                                                



                                                
                                                
                                                    <% if current_user == comment.user %>
                                                    <div class="h9 m-1"><%= link_to "", edit_post_comment_path(comment.post, comment), class: "card-link", class: "fas fa-pencil-alt"%>  
                                                        <%= link_to "",[comment.post,comment], method: :delete,  class: "card-link", class: "far fa-trash-alt" %>   </div>  
                                                    <% end %>
                                                    
                                                </div>
                                            
                                    
                                        <% end %>
                                    </div>

                            <% else %>
                                <!-- Nothing here because there should be no new part of the container -->
                            <% end %>
                            <!-- End Comments /// -->      
                    

                        </div>
                        <!-- Post /////-->
                        <br>
                    


                        <% end %>
                        <% end %>
                    </div>





                </div>




            </div>