<%= form_with(model: retirement, local: true) do |form| %>
  <% if retirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retirement.errors.count, "error") %> prohibited this retirement from being saved:</h2>

      <ul>
      <% retirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :start_amount %>
    <%= form.text_field :start_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time_until_retirement %>
    <%= form.number_field :time_until_retirement, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :annual_savings %>
    <%= form.text_field :annual_savings, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :intrest_rate %>
    <%= form.text_field :intrest_rate, class: 'form-control' %>
  </div>




<!--
Block comment to remove the retirement estimate from the form

  <div class="form-group">
    <%= form.label :retirement_estimate %>
    <%= form.text_field :retirement_estimate, class: 'form-control' %>
  </div>
-->


  <div class="form-group">
    <% if retirement.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', retirement, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if retirement.persisted? %>
      <%= link_to "Cancel", retirement, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", retirements_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
