


<div class="row">
  <div class="col-sm-6">
    <h1>Follows</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_follow_path, class: 'btn btn-primary' do %>
    Add New Follow
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Requestor</th>
            <th>Following</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @follows.each do |follow| %>
        <%= content_tag :tr, id: dom_id(follow), class: dom_class(follow) do %>
          

                      <td><%= follow.requestor %></td>
                      <td><%= follow.following %></td>
          
          
            <td><%= link_to 'Show', follow %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
