<%= stylesheet_link_tag "hideme"%>
<button onclick="myFunction()" class=" btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" style="vertical-align:middle"><span><i class="fas fa-list-ul"></i><small class="text-uppercase font-weight-bold"> Nav-bar Toggle</small></span></button>

<div class="page-header" >
  <%= link_to goals_path, class: 'btn btn-primary' do %>
    See All Goals
  <% end %>
  <h1> Details for Goal '<%= @goal.title %>' </h1>
</div>

<dl class="dl-horizontal">
  <dt>Goal Name:</dt>
  <dd><%= @goal.title %></dd>

  <dt>Progress:</dt>
  <dd><%= number_to_currency(@goal.progress)%><%= "/" %><%=  number_to_currency(@goal.goal) %> </dd>

  <% if @goal.progress != @goal.goal %>
    <div class="progress">
      <div class="progress-bar" role="progressbar"
        aria-valuenow=<% Goal.select(:ppercent).find(@goal.id).ppercent %>

        aria-valuemin="0" aria-valuemax="100"
        style="width: <%=Goal.select(:ppercent).find(@goal.id).ppercent %>%">
        <%= number_to_percentage(Goal.select(:ppercent).find(@goal.id).ppercent, precision: 0) %>
      </div>
    </div>
  <% elsif @goal.progress == @goal.goal %>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar"
        aria-valuenow=<% Goal.select(:ppercent).find(@goal.id).ppercent %>

        aria-valuemin="0" aria-valuemax="100"
        style="width: <%=Goal.select(:ppercent).find(@goal.id).ppercent %>%">
        <%= number_to_percentage(Goal.select(:ppercent).find(@goal.id).ppercent, precision: 0) %>
      </div>
    </div>
  <% end %>

</dl>

