<div class="page-header">
  <%= link_to goals_path, class: 'btn btn-primary' do %>
    See All Goals
  <% end %>
  <%= link_to edit_goal_path(@goal), class: 'btn btn-primary' do %>
    Edit '<%= @goal.title%>'
  <% end %>
  <h1> Details for Goal '<%= @goal.title %>' </h1>
</div>

<dl class="dl-horizontal">
  <dt>Goal Name:</dt>
  <dd><%= @goal.title %></dd>

  <dt>Progress:</dt>
  <dd><%= number_to_currency(@goal.progress)%><%= "/" %><%=  number_to_currency(@goal.goal) %> </dd>

  <dd><%= bar_chart Goal.where(user_id:current_user).where(title: @goal.title).group(:title).sum(:progress), min: 0, max: @goal.goal, prefix: "$", round: 2, zeros: true, height: "75px" %></dd>


</dl>
