<div class="page-header">
  <%= link_to goals_path, class: 'btn btn-default' do %>
    All Goals
  <% end %>
  <%= link_to edit_goal_path(@goal), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Details</h1>
</div>

<dl class="dl-horizontal">
  <dt>How much would you like to add towards your goal?</dt>
  <dd><%= @goal.title %></dd>
  
  <div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>
</div>
</dl>
