


<div class="row">
  <div class="col-sm-6">
    <h1>Transactions</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_transaction_path, class: 'btn btn-primary' do %>
    Add New Transaction
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Amount</th>
            <th>Date</th>
            <th>Source</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <%= content_tag :tr, id: dom_id(transaction), class: dom_class(transaction) do %>
          

                      <td><%= transaction.amount %></td>
                      <td><%= transaction.date %></td>
                      <td><%= transaction.source %></td>
          
          
            <td><%= link_to 'Show', transaction %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
