<div class="page-header">
  <%= link_to transactions_path, class: 'btn btn-default' do %>
    All Transactions
  <% end %>
  <%= link_to edit_transaction_path(@transaction), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show transaction</h1>
</div>

<dl class="dl-horizontal">
  <dt>Amount:</dt>
  <dd><%= @transaction.amount %></dd>

  <dt>Date:</dt>
  <dd><%= @transaction.date %></dd>

  <dt>Source:</dt>
  <dd><%= @transaction.source %></dd>

</dl>
